<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/stylesheets/formularz_kopia.css">
    <title>Title</title>
</head>
<body>
<form id="forma" action="/submit" method="post" class="form-container">
    <div>
        <label for="input_text">enter the text</label>
        <input type="text" id="input_text" name="input_text">
        <label for="input_text2">enter the text</label>
        <input type="text" id="input_text2" name="input_text2">
        <label for="input_text3">enter the text</label>
        <input type="text" id="input_text3" name="input_text3">
        <label for="input_text4">enter the text</label>
        <input type="text" id="input_text4" name="input_text4">
        <button type="submit" class="submit-button">submit</button>
    </div>
</form>
</body>
</html>