<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/stylesheets/wyniki.css">
    <title>Title</title>
</head>
<body>
<h1>ODPOWIEDŹ</h1>
<h1 id="res"><%= input_text %></h1>
<h1 id="res2"><%= input_text2 %></h1>
<h1 id="res3"><%= input_text3 %></h1>
<h1 id="res4"><%= input_text4 %></h1>
</body>
</html>